 <style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sigmar+One&display=swap');
</style> 

Body {
font-family: 'Roboto', sans-serif;
}

h1 {
font-family: 'Sigmar One', cursive;
}

h2 {
font-family: 'Sigmar One', cursive;
}    
 
h3 {
font-family: 'Sigmar One', cursive;
}

h4 {
font-family: 'Sigmar One', cursive;
}

h5 {
font-family: 'Sigmar One', cursive;
}

h6 {
font-family: 'Sigmar One', cursive;
}
