<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
<span class="sidebar-nav-item"><a href="https://geraldleejordan.com/group-narratives/" rel="nofollow" target="_blank" title="Book Home">home</a></span>
<span class="sidebar-nav-item"><a href="https://geraldleejordan.com/group-narratives/about/" rel="nofollow" target="_blank" title="About">about</a></span>
<span class="sidebar-nav-item"><a href="https://geraldleejordan.com/group-narratives/categories/" rel="nofollow" target="_blank" title="Categories">categories</a></span>
<span class="sidebar-nav-item"><a href="https://geraldleejordan.com/group-narratives/" rel="nofollow" target="_blank" title="Book Home">chapters</a></span>
<span class="sidebar-nav-item"><a href="https://geraldleejordan.com/group-narratives/" rel="nofollow" target="_blank" title="Book Home">glossary</a></span>
<span class="sidebar-nav-item"><a href="https://geraldleejordan.com/group-narratives/" rel="nofollow" target="_blank" title="Book Home">podcasts</a></span>
<span class="sidebar-nav-item"><a href="https://geraldleejordan.com/group-narratives/" rel="nofollow" target="_blank" title="Book Home">timeline</a></span>
<span class="sidebar-nav-item"><a href="https://geraldleejordan.com/group-narratives/" rel="nofollow" target="_blank" title="Book Home">twitter</a></span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} Lee Jordan
    </p>
  </div>
</div>
