---
layout: default
---

<div class="post">
  
  <h1 class="post-title">{{ page.title }}</h1> 
  
  {{ content }}
  
  <span class="post-date">
  <i class="material-icons-outlined md-24">person_outline</i>&nbsp;&nbsp;{{ page.author }}<br>
  <i class="material-icons-outlined md-24">schedule</i>&nbsp;&nbsp;{{ page.date | date_to_rfc822 }}<br>
  <i class="material-icons-outlined md-24">category</i>&nbsp;&nbsp;{{ page.categories | sort | join: ", " }}
  </span>

  
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
  
</div>
